/* 전체 페이지 기본 스타일 */
body {
  font-family: 'Gowun Dodum', sans-serif;
  margin: 0;
  background-color: #fceef2;
  cursor:
    url('/basic-mouse-img.png') 16 16,
    auto;
}

/* 호버 시 마우스 커서 변경 (버튼, 네비게이션, 링크 등) */
button:hover,
.navbar-container span:hover,
a:hover,
.admin-login-button {
  cursor:
    url('/hover-mouse-img.png') 16 16,
    pointer;
}

/* 텍스트 드래그 중 커서 스타일 */
body.text-selecting {
  cursor:
    url('/drag-mouse-img.png') 16 16,
    text;
}

/* input 및 contenteditable 영역에서 커서 스타일 지정 */
input,
[contenteditable='true'] {
  cursor:
    url('/drag-mouse-img.png') 16 16,
    text;
}

/* 포커스된 input 요소 스타일 (핑크 포커스 테두리) */
input:focus {
  outline: none;
  border: 1px solid #f19cbb;
}
