body {
  font-family: 'Gowun Dodum', sans-serif;
  margin: 0;
  background-color: #fceef2;
  cursor:
    url('/basic-mouse-img.png') 16 16,
    auto;
}

button:hover,
.navbar-container span:hover,
a:hover {
  cursor:
    url('/hover-mouse-img.png') 16 16,
    pointer;
}

body.text-selecting {
  cursor:
    url('/drag-mouse-img.png') 16 16,
    text;
}

.admin-login-button {
  cursor:
    url('/hover-mouse-img.png') 16 16,
    pointer;
}

input:focus {
  outline: none;
  border: 1px solid #f19cbb;
}

input,
[contenteditable='true'] {
  cursor:
    url('/drag-mouse-img.png') 16 16,
    text;
}
