body {
  font-family: 'Gowun Dodum', sans-serif;
  margin: 0;
  background-color: #fceef2;
  cursor:
    url('/basic-mouse-img.png') 16 16,
    auto;
}

input:focus {
  outline: none;
  border: 1px solid #f19cbb;
}
